<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".application.BulBiletini"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.KombineApp"
        android:usesCleartextTraffic="true"
        tools:ignore="DiscouragedApi,LockedOrientationActivity"
        tools:targetApi="31">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bulbiletini.com"
                    android:scheme="http" />

            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ticket"
                    android:scheme="bulbiletini" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.login.verificationcode.VerificationCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.userdelete.UserDeleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.teams.TeamsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.teamdetail.TeamDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.matchdetail.MatchDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ticketdetail.TicketDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.tickets.TicketsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.createticket.CreateTicketActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.settings.tariffs.TariffsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.messages.chat.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NavigationBarColor"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.settings.mytariffs.MyTariffsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.userdetail.UserDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.userdetail.usercomments.UserCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.userdetail.addcomment.AddCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.userdetail.rateuser.RateUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.updateuser.UpdateUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.blockedusers.BlockedUsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.mycomments.MyCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ticketdetail.notifyticket.NotifyTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ticketdetail.editticket.EditTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.suggestionandcomplaint.SuggestionAndComplaintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.webview.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.generic.GenericImageDetailActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".application.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>
</manifest>